.stretched-link::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
}

.callout.devsite {
  margin: 0;
}

.form-required::after {
  content: "*";
  color: #f00;
  font-weight: 900;
}
