/* ------------------------------------ *\
  CONTENTS
\* ------------------------------------ */

/**
 * CONTENTS..........................You’re reading it!
 * VARIABLES ..........................................
 * .... Transparency color set (blocks over region) ...
 * gd-iut-claret.........................................
 * .... Tabs styles ...................................
 * .... Background styles .............................
 * .... Accordions styles .............................
 * .... Border styles .................................
 * .... CTA Styles ....................................
 *
 */

/**
 * Taxonomies à créer par color style
 *   Tab styles: tabs-style-gd-iut-claret tabs-bg-dark/tabs-bg-light
 *   Background colors: bg-gd-iut-claret bg-dark/bg-light
 *   Background Hover colors: bg-hv-gd-iut-claret bg-hv-light/bg-hv-dark
 *   Border colors: border-gd-iut-claret
 *   Link Color Style: cta cta-gd-iut-claret cta-dark/cta-light
 *   Text Color Style: color-gd-iut-claret color-dark/color-light
 *   List Link Styles: color-bullet--gd-iut-claret
 *   CKEDITOR styles: ul.color-bullet.gd-iut-claret|Liste gd-iut-claret
*/

/* ------------------------------------ *\
  ==VARIABLES
\* ------------------------------------ */
:root {
  /* Specific colors scheme */
  --gd-iut-claret: linear-gradient(180deg, #871c3d, #d6628c);
  --gd-iut-claret-hv: linear-gradient(180deg, #841c3a, #d4608a);
  --gd-iut-claret-bg-dark: #871c3d;
  --gd-iut-claret-brd: #871c3d;
}

/* == Transparency color set (blocks over region) -------------------- *\
\* ------------------------------------------------------------------- */
.op-6 .bg-gd-iut-claret,
.op-7 .bg-gd-iut-claret,
.op-8 .bg-gd-iut-claret,
.op-9 .bg-gd-iut-claret {
  --op-6: rgba(135 28 61 / 60%);
  --op-7: rgba(135 28 61 / 70%);
  --op-8: rgba(135 28 61 / 80%);
  --op-9: rgba(135 28 61 / 90%);
}

/* ------------------------------------ *\
* == iut-claret
\* ------------------------------------ */

/* == Tabs styles -------------------- *\
\* ----------------------------------- */

/* Taxo. Tab styles: tabs-style-gd-iut-claret */

/* style des tabs avec animation */
.tabs-style-gd-iut-claret.tabs-bg-light .tabs:before,
.tabs-style-gd-iut-claret.tabs-bg-dark .tabs:before {
  color: var(--gd-iut-claret-bg-dark);
  border-bottom: 5px solid var(--gd-iut-claret-bg-dark);
}

/* == Background styles -------------------- *\
\* ----------------------------------------- */

/**
 * Taxo. Background colors: bg-gd-iut-claret bg-dark/bg-light
 * Taxo. Background Hover colors: bg-hv-gd-iut-claret bg-hv-light/bg-hv-dark
*/

.bg-gd-iut-claret,
.content-hover.bg-hv-gd-iut-claret:hover {
  background: var(--gd-iut-claret);
}

.op-6 .bg-gd-iut-claret {
  background: var(--op-6);
}

.op-7 .bg-gd-iut-claret {
  background: var(--op-7);
}

.op-8 .bg-gd-iut-claret {
  background: var(--op-8);
}

.op-9 .bg-gd-iut-claret {
  background: var(--op-9);
}

/* == Accordions styles -------------------- *\
\* ----------------------------------------- */
.accordion.with-bg .accordion-title.bg-gd-iut-claret:hover,
.accordion.with-bg .accordion-title.bg-gd-iut-claret:focus {
  background: var(--gd-iut-claret-hv);
}

.accordion.with-bg .accordion-title.bg-gd-iut-claret.bg-dark:hover,
.accordion.with-bg .accordion-title.bg-gd-iut-claret.bg-dark:focus {
  color: var(--white);
}

.accordion.with-bg .accordion-title.bg-gd-iut-claret.bg-light:hover,
.accordion.with-bg .accordion-title.bg-gd-iut-claret.bg-light:focus {
  color: var(--black);
}

.accordion.with-bg .accordion-title.bg-gd-iut-claret.bg-dark {
  color: var(--white);
  border-color: transparent;
}

.accordion.with-bg .accordion-title.bg-gd-iut-claret.bg-light {
  color: var(--black);
  border-color: transparent;
}

.accordion.with-bg .accordion-content {
  border-color: transparent;
}

/* == Text elements -------------------- *\
\* ----------------------------------------- */

/* Taxo. Text Color Style: color-gd-iut-claret color-light/color-light */

/* FA color */
.color-gd-iut-claret i {
  color: var(--gd-iut-claret);
}

.bg-gd-iut-claret.bg-dark .color-gd-iut-claret i,
.content-hover.bg-hv-gd-iut-claret.bg-hv-dark:hover i {
  color: var(--white);
}

.bg-gd-iut-claret.bg-light .color-gd-iut-claret i,
.content-hover.bg-hv-gd-iut-claret.bg-hv-light:hover i {
  color: var(--black);
}

/* Puces colorées */
.bg-gd-iut-claret.bg-dark ul li::marker,
.bg-gd-iut-claret.bg-hv-dark ul li::marker,
.content-hover.bg-hv-gd-iut-claret.bg-hv-dark:hover ul li::marker {
  color: var(--white);
}

.bg-gd-iut-claret.bg-light ul li::marker,
.bg-gd-iut-claret.bg-hv-light ul li::marker,
.content-hover.bg-hv-gd-iut-claret.bg-hv-light:hover ul li::marker {
  color: var(--black);
}

ul.color-bullet--gd-iut-claret.list li.link-list-item::marker,
ul.color-bullet.gd-iut-claret > li::marker,
ul.color-bullet.gd-iut-claret > li::before {
  color: var(--gd-iut-claret);
}

/* == Border styles -------------------- *\
\* ------------------------------------- */

/* Taxo. Border colors: border-gd-iut-claret */
.border-gd-iut-claret,
.border-gd-iut-claret:after {
  border-color: var(--gd-iut-claret-bg-dark);
}

/* == CTA Styles --------------------------- *\
\* ----------------------------------------- */

/* Taxo. Link Color Style: cta cta-gd-iut-claret */
.paragraph .cta.cta-gd-iut-claret a,
.paragraph.cta.cta-gd-iut-claret a,
.paragraph.cta.cta-gd-iut-claret .cta-link {
  background: var(--gd-iut-claret);
  border: 1px solid var(--gd-iut-claret-brd);
  padding: .5rem 2rem;
}

.paragraph .cta.cta-gd-iut-claret i,
.paragraph.cta.cta-gd-iut-claret i {
  color: var(--gd-iut-claret);
}

.paragraph .cta.cta-gd-iut-claret.cta-dark i,
.paragraph.cta.cta-gd-iut-claret.cta-dark i,
.paragraph .cta.cta-gd-iut-claret.cta-dark a,
.paragraph.cta.cta-gd-iut-claret.cta-dark a,
.paragraph.cta.cta-gd-iut-claret.cta-dark .cta-link {
  color: var(--white);
}

.paragraph .cta.cta-gd-iut-claret.cta-light i,
.paragraph.cta.cta-gd-iut-claret.cta-light i,
.paragraph .cta.cta-gd-iut-claret.cta-light a,
.paragraph.cta.cta-gd-iut-claret.cta-light a,
.paragraph.cta.cta-gd-iut-claret.cta-light .cta-link {
  color: var(--black);
}

.paragraph .cta.cta-gd-iut-claret a:focus,
.paragraph.cta.cta-gd-iut-claret a:focus,
.paragraph.cta.cta-gd-iut-claret .cta-link:focus,
.paragraph .cta.cta-gd-iut-claret a:hover,
.paragraph.cta.cta-gd-iut-claret a:hover,
.paragraph.cta.cta-gd-iut-claret .cta-link:hover {
  background: var(--white);
  border-color: var(--gd-iut-claret-brd);
  color: var(--gd-iut-claret-bg-dark);
}

.paragraph .cta.cta-gd-iut-claret.cta-dark a:focus i,
.paragraph.cta.cta-gd-iut-claret.cta-dark a:focus i,
.paragraph.cta.cta-gd-iut-claret.cta-dark .cta-link:focus i,
.paragraph .cta.cta-gd-iut-claret.cta-dark a:hover i,
.paragraph.cta.cta-gd-iut-claret.cta-dark a:hover i,
.paragraph.cta.cta-gd-iut-claret.cta-dark .cta-link:hover i,
.paragraph .cta.cta-gd-iut-claret.cta-dark a:focus,
.paragraph.cta.cta-gd-iut-claret.cta-dark a:focus,
.paragraph.cta.cta-gd-iut-claret.cta-dark .cta-link:focus,
.paragraph .cta.cta-gd-iut-claret.cta-dark a:hover,
.paragraph.cta.cta-gd-iut-claret.cta-dark a:hover,
.paragraph.cta.cta-gd-iut-claret.cta-dark .cta-link:hover {
  color: var(--gd-iut-claret-bg-dark);
  border-color: var(--gd-iut-claret-brd);
  box-shadow: unset;
}

.paragraph .cta.cta-gd-iut-claret.cta-light a:focus i,
.paragraph.cta.cta-gd-iut-claret.cta-light a:focus i,
.paragraph.cta.cta-gd-iut-claret.cta-light .cta-link:focus i,
.paragraph .cta.cta-gd-iut-claret.cta-light a:hover i,
.paragraph.cta.cta-gd-iut-claret.cta-light a:hover i,
.paragraph.cta.cta-gd-iut-claret.cta-light .cta-link:hover i,
.paragraph .cta.cta-gd-iut-claret.cta-light a:focus,
.paragraph.cta.cta-gd-iut-claret.cta-light a:focus,
.paragraph.cta.cta-gd-iut-claret.cta-light .cta-link:focus,
.paragraph .cta.cta-gd-iut-claret.cta-light a:hover,
.paragraph.cta.cta-gd-iut-claret.cta-light a:hover,
.paragraph.cta.cta-gd-iut-claret.cta-light .cta-link:hover {
  color: var(--black);
}

.paragraph .cta.cta-reverse.cta-gd-iut-claret a,
.paragraph.cta.cta-reverse.cta-gd-iut-claret a {
  background: var(--white);
}

.paragraph .cta.cta-reverse.cta-gd-iut-claret.cta-dark i,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark i,
.paragraph .cta.cta-reverse.cta-gd-iut-claret.cta-dark a,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark a {
  color: var(--gd-iut-claret-bg-dark);
  border-color: var(--gd-iut-claret-brd);
  box-shadow: unset;
}

.paragraph .cta.cta-reverse.cta-gd-iut-claret.cta-light a,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-light a {
  color: var(--black);
}

.paragraph .cta.cta-reverse.cta-gd-iut-claret a:focus,
.paragraph .cta.cta-reverse.cta-gd-iut-claret a:hover {
  background: var(--gd-iut-claret);
  border-color: transparent;
}

.paragraph .cta.cta-reverse.cta-gd-iut-claret.cta-dark a:focus i,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark a:focus i,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark .cta-link:focus i,
.paragraph .cta.cta-reverse.cta-gd-iut-claret.cta-dark a:hover i,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark a:hover i,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark .cta-link:hover i,
.paragraph .cta.cta-reverse.cta-gd-iut-claret.cta-dark a:focus,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark a:focus,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark .cta-link:focus,
.paragraph .cta.cta-reverse.cta-gd-iut-claret.cta-dark a:hover,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark a:hover,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark .cta-link:hover {
  color: var(--white);
  border-color: transparent;
}

.bg-gd-iut-claret .cta.cta-reverse.cta-gd-iut-claret.cta-dark a:focus i,
.bg-gd-iut-claret .paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark a:focus i,
.bg-gd-iut-claret .paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark .cta-link:focus i,
.bg-gd-iut-claret .paragraph .cta.cta-reverse.cta-gd-iut-claret.cta-dark a:hover i,
.bg-gd-iut-claret .paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark a:hover i,
.bg-gd-iut-claret .paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark .cta-link:hover i,
.bg-gd-iut-claret .cta.cta-reverse.cta-gd-iut-claret.cta-dark a:focus,
.bg-gd-iut-claret .paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark a:focus,
.bg-gd-iut-claret .paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark .cta-link:focus,
.bg-gd-iut-claret .paragraph .cta.cta-reverse.cta-gd-iut-claret.cta-dark a:hover,
.bg-gd-iut-claret .paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark a:hover,
.bg-gd-iut-claret .paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-dark .cta-link:hover {
  color: var(--white);
  border: 1px solid var(--white);
}

.bg-gd-iut-claret .cta.cta-reverse.cta-gd-iut-claret.cta-light a:focus,
.bg-gd-iut-claret .paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-light a:focus,
.bg-gd-iut-claret .paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-light .cta-link:focus,
.bg-gd-iut-claret .paragraph .cta.cta-reverse.cta-gd-iut-claret.cta-light a:hover,
.bg-gd-iut-claret .paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-light a:hover,
.bg-gd-iut-claret .paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-light .cta-link:hover {
  color: var(--black);
  border: 1px solid var(--black);
}

.paragraph .cta.cta-reverse.cta-gd-iut-claret.cta-light a:focus,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-light a:focus,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-light .cta-link:focus,
.paragraph .cta.cta-reverse.cta-gd-iut-claret.cta-light a:hover,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-light a:hover,
.paragraph.cta.cta-reverse.cta-gd-iut-claret.cta-light .cta-link:hover {
  color: var(--black);
}

/** cta on gd-iut-claret bg */
.bg-hv-gd-iut-claret.bg-hv-dark:hover .paragraph .cta.cta-gd-iut-claret a,
.bg-hv-gd-iut-claret.bg-hv-dark:hover .paragraph.cta.cta-gd-iut-claret a,
.bg-hv-gd-iut-claret.bg-hv-dark:hover .paragraph.cta.cta-gd-iut-claret .cta-link,
.bg-gd-iut-claret.bg-dark .paragraph .cta.cta-gd-iut-claret a,
.bg-gd-iut-claret.bg-dark .paragraph.cta.cta-gd-iut-claret a,
.bg-gd-iut-claret.bg-dark .paragraph.cta.cta-gd-iut-claret .cta-link {
  border: 1px solid var(--white);
}

.bg-hv-gd-iut-claret.bg-hv-light:hover .paragraph .cta.cta-gd-iut-claret a,
.bg-hv-gd-iut-claret.bg-hv-light:hover .paragraph.cta.cta-gd-iut-claret a,
.bg-hv-gd-iut-claret.bg-hv-light:hover .paragraph.cta.cta-gd-iut-claret .cta-link,
.bg-gd-iut-claret.bg-light .paragraph .cta.cta-gd-iut-claret a,
.bg-gd-iut-claret.bg-light .paragraph.cta.cta-gd-iut-claret a,
.bg-gd-iut-claret.bg-light .paragraph.cta.cta-gd-iut-claret .cta-link {
  border: 1px solid var(--black);
}

.paragraph.cta.link-fa.cta-gd-iut-claret a > i::before {
  background-color: var(--medium-gray);
  color: var(--black);
}

.paragraph.cta.link-fa.cta-gd-iut-claret a:hover > i::before {
  background-color: var(--medium-gray);
  color: var(--black);
}
