/* ------------------------------------ *\
  CONTENTS
\* ------------------------------------ */

/**
 * CONTENTS............You’re reading it!
 */

.footer-bottom {
  padding: 3rem 0;
  background-color: #383e4c;
  color: #fff;
}
