.amu-chatbot-container {
  position: fixed;
  bottom: 3rem;
  right: 0;
  margin-right: .5rem;
  background-color: #383e4c;
  box-shadow: 1px 1px 3px #fff;
  padding: 1rem 1rem .95rem;
  border-radius: 12px;
  overflow: hidden;
  z-index: 122;
  font-family: "Titillium Web", sans-serif;
}

.amu-chatbot-initial-msg,
.amu-chatbot-initial-msg__close-btn,
.amu-chatbot-initial-msg__activate-btn--grow {
  color: #fff;
}

.amu-chatbot-initial-msg__close-btn,
.amu-chatbot-initial-msg__activate-btn--grow {
  position: absolute;
  top: .3rem;
  right: 0;
  cursor: pointer;
}

.amu-chatbot-initial-msg__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: .5rem;
  font-weight: bold;
}

.amu-chatbot-initial-msg p {
  margin-bottom: 0;
}

.amu-chatbot-initial-msg i {
  font-size: 1.3rem;
  padding: 0 .5rem 0 0;
}

.amu-chatbot-initial-msg i.fa-xmark,
.amu-chatbot-initial-msg__activate-btn--grow i.fa-xmark {
  opacity: .7;
}

.amu-chatbot-initial-msg__activate-btn {
  color: #fff;
  border: 1px dotted #fff;
  padding: .5rem;
  cursor: pointer;
  width: 100%;
}

.amu-chatbot-initial-msg__activate-btn:hover {
  color: #383e4c;
  background-color: #fff;
}

.amu-chatbot-initial-msg__activate-btn.grow {
  display: none;
}

.amu-chatbot-consent.grow {
  width: 1000px;
  max-height: 250px;
  padding: .5rem;
}

.amu-chatbot-consent {
  background-color: #fff;
  overflow: hidden;
  font-size: .9rem;
  width: 0;
  max-height: 0;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
}

.amu-chatbot-consent a {
  color: #383e4c;
  text-decoration: underline;
  font-weight: bold;
}

.amu-chatbot-consent__button,
.amu-chatbot-noconsent__button:hover {
  background-color: #383e4c;
  color: #fff;
  box-shadow: 1px 1px 3px #f2dede;
  border: 1px solid #383e4c;
  padding: .4rem .6rem;
  cursor: pointer;
  font-size: .85rem;
  margin-right: 1rem;
}

.amu-chatbot-consent__button:hover,
.amu-chatbot-noconsent__button {
  background-color: #fff;
  color: #383e4c;
  border: 1px solid #383e4c;
  padding: .4rem .6rem;
  box-shadow: 1px 1px 3px #f2dede;
  font-size: .85rem;
}

.amu-chatbot-consent [type=button] {
  border-radius: .95rem;
}

button.amu-chatbot-initial-open-btn {
  background-color: #383e4c;
  color: #fff;
  border-radius: 12px 0 0 12px;
  cursor: pointer;
  position: fixed;
  bottom: 3rem;
  right: 0;
  box-shadow: 1px 1px 3px #fff;
  padding: 1rem;
  z-index: 122;
}

button.amu-chatbot-initial-open-btn i {
  font-size: 1.5rem;
}

@media screen and (max-width: 39.9375em) {
  .amu-chatbot-consent.grow {
    width: 260px;
    height: 520px;
    max-height: 520px;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .amu-chatbot-consent.grow {
    width: 500px;
    height: 320px;
    max-height: 320px;
  }
}
